.subscribe {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/images/subscribe-desktop.jpg),
    lightgray 0px -481.157px / 100% 375.122%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1200px;
  min-height: 370px;
  padding: 72px 367px 72px 366px;
  margin: 0 auto;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.subscribe-heading {
  width: 378px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.subscribe-paragraph {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}

.subscribe-btn {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  background: #fd9222;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.sellers-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 609px;
  background: #fafafa;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sellers-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.sellers-modal-close:hover {
  fill: #fd9222;
}

.sellers-modal-heading {
  color: #111;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  width: 298px;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
  
}

.sellers-modal-heading span {
  color: #fd9222;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.buy-now-list {
  display: flex;
  width: 513px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px
}

.buy-now-item {
  display: flex;
  width: 160px;
  padding: 24px 20px 18px 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
}

.buy-now-img {
  width: 120px;
  height: 107px;
}

.buy-now-span {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  padding: 8px 27px;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
}

.hero-modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.hero-form-group {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  padding: 22px 24px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-form-group:hover,
.hero-form-group:focus {
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
}

.hero-modal-input {
  width: 392px;
  height: 22px;
  display: flex;
  align-items: center;
  gap: 21.78px;
  flex: 1 0 0;
  align-self: stretch;
  border: none;
  background: #fafafa;
}

.hero-modal-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.hero-modal-input:hover,
.hero-modal-input:focus {
  outline-style: none;
}
.hero-tel-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.flag-number {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
  width: 125px;
  margin-right: 28px;
  border-right: 3px solid rgba(17, 17, 17, 0.05);
}

.country-code {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.hero-modal-textarea {
  display: flex;
  align-items: center;
  gap: 21.78px;
  flex: 1 0 0;
  align-self: stretch;
  padding: 22px 24px 93px 24px;
  max-width: 513px;
  resize: none;
  background: #fafafa;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.hero-modal-textarea:focus,
.hero-modal-textarea:hover {
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  outline-style: none;
}

.hero-modal-btn {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  padding: 14px 40px;
  align-self: flex-start;
  gap: 14px;
  border-radius: 100px;
  background: #fd9222;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal-btn:hover,
.hero-modal-btn:focus {
  color: #fd9222;
  background: #fcf1e0;
}
.modalform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8px;
  gap: 18px;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input-label {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
}
.input-area {
  display: flex;
  gap: 21px;
}
.input-personalinfo-container .input-data {
  width: 246px;
}
.input-data {
  height: 66px;
  display: flex;
  align-items: center;
  gap: 21.78px;
  flex: 1 0 0;
  align-self: stretch;
  padding: 22px 24px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  /* box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03); */
}
.input-data::placeholder,
.tel-number::placeholder,
.user-comment::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}
.input-email-container,
.input-card-container,
.input-personalinfo-container {
  width: 509px;
}
.flag-code {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  width: 125px;
  height: 32px;
  box-shadow: 2.722px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.flag {
  width: 22px;
}
.flag-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tel-number {
  width: 237px;
  margin-top: 6px;
  border: none;
}
.input-number-area {
  display: flex;
  align-items: center;
  gap: 28px;
  width: 509px;
  height: 66px;
  padding: 17px 24px;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 13px;
  background-color: #FFFFFF;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  /* box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03); */
}
.code-number {
  display: flex;
  width: 60px;
  height: 22px;
  padding-right: 20px;
  border: none;
  text-align: center;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}
.input-card {
  position: relative;
}
.mastercard-icon {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.input-data:focus,
.tel-number:focus,
.code-number:focus,
.user-comment:focus {
  outline: none;
}
.user-comment {
  width: 509px;
  height: 137px;
  padding: 22px 24px 22px 24px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  resize: none;
}
.submit-btn {
  width: 133px;
  height: 45px;
  color: #FFFFFF;
  font-size: 14px;
  background: #FD9222;
  gap: 14px;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.3s ease;
}
.modal-close:hover,
.modal-close:focus {
  stroke: #FD9222;
}

@media (max-width: 767px) {
  .subscribe {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(/src/images/subscribe-mobile.jpg),
      lightgray 0px -481.157px / 100% 375.122%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 375px;
    padding: 62px 20px 63px 20px;
    margin: 0 auto;
  }

  .subscribe-container {
    display: flex;
    width: 335px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .subscribe-heading {
    width: 291px;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    letter-spacing: -0.6px;
    text-transform: uppercase;
  }

  .subscribe-paragraph {
    width: 326px;
  }

  .subscribe-btn {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    padding: 12px 28px;
    align-items: flex-start;
    gap: 14px;
    border-radius: 100px;
    background: #fd9222;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// ===== MODAL =====

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.subscribe-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 538px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
  background: lightgray 50%, url(/src/images/explore-subscribe.jpg);
  background-size: 100% 196px;
  background-repeat: no-repeat;
  background-color: #fafafa;
  height: 412px;
}

.subscribe-modal-close {
  fill: #fafafa;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-modal-close:hover,
.subscribe-modal-close:focus {
  fill: #fd9222;
}

.subscribe-modal-background {
  width: 538px;
  height: 196px;
}

.subscribe-modal-description {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
  padding: 40px;
}

.subscribe-modal-heading {
  width: 298px;
  color: #111;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.subscribe-modal-heading span {
  color: #fd9222;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.subscribe-modal-input-btn {
  display: inline-flex;
  gap: 8px;
}

.subscribe-modal-input-container {
  display: flex;
  width: 265px;
  height: 24px;
  padding: 14px 24px;
  align-items: flex-start;
  gap: 40px;
  border-radius: 30px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  color: #fafafa;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-modal-input-container:hover,
.subscribe-modal-input-container:focus {
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
}

.subscribe-modal-input {
  display: flex;
  align-items: center;
  gap: 21.78px;
  flex: 1 0 0;
  align-self: stretch;
  border: none;
  background-color: #fafafa;
}

.subscribe-modal-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.subscribe-modal-input:hover,
.subscribe-modal-input:focus {
  outline-style: none;
}

.subscribe-modal-btn {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 57px;
  height: 18px;
  padding: 17px 40px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  border-radius: 100px;
  background: #fd9222;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-modal-btn:hover,
.subscribe-modal-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    display: flex;
    padding: 72px 151px 72px 150px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(/src/images/subscribe-tablet.jpg),
      lightgray -215px -481.157px / 156.25% 375.122%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 768px;
    margin: 0 auto;
  }
}
