<header>
  <div class="header">
    <div class="header-container container">
      <div class="header-logo-container">
        <p class="header-logo" href="/src/index.html">
          <span>SIMPLY</span> CHOCOLATE
        </p>
        <svg class="icon-logo">
          <use href="/src/images/icons.svg#chocolate"></use>
        </svg>
      </div>
      <button type="button" class="header-burger-menu">
          <svg class="header-icon-burger">
            <use href="/src/images/icons.svg#burger"></use>
          </svg>
      </button>

      <div class="nav-container">
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#how-it's-made">How it's made?</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#our-products">Our products</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#top-sellers">Top sellers</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#chocolate-is-loved"
                >Chocolate is loved</a
              >
            </li>
          </ul>
        </nav>
        <div class="header-socials">
          <a href="#" target="_blank" rel="noreferrer noopener">
            <svg
              class="icon-socials"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <use href="/src/images/icons.svg#instagram"></use>
            </svg>
          </a>

          <a href="#" target="_blank" rel="noreferrer noopener">
            <svg
              class="icon-socials"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <use href="/src/images/icons.svg#twitter"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="hero">
    <div class="hero-container container">
      <div class="hero-content-container">
        <p class="hero-caption">
          Treat yourself or a loved one to<br />
          our finest ingredients for a moment of pure delight!
        </p>

        <div class="hero-navigation-container">
          <div class="hero-buttons-container">
            <button class="buy-button" type="button">Buy now</button>

            <button class="how-button" type="button">How it's made</button>
          </div>

          <div class="hero-scroll-container">
            <span class="hero-scroll-text">scroll down</span>

            <a class="hero-scroll-button" href="">
              <svg
                class="hero-scroll-down"
              >
                <use href="/src/images/icons.svg#scroll-down"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
